.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startCenter {
  display: flex;
  align-items: center;
}
.btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-primary-100 {
  background-color: rgb(205 162 116 / 1);
}
.bg-primary-200 {
  background-color: rgb(41 47 54 / 1);
}
.bg-primary-300 {
  background-color: rgb(244 240 236 / 1);
}
.bg-white {
  background-color: rgb(255 255 255 / 1);
}
.bg-hero {
  background-image: url(../assets/hero.png);
  background-position: 50%;
}
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.height-400px {
  height: 400px;
}
.services {
  justify-content: space-between;
}
.about-pool-img {
  height: 500px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
.booking-aside-img {
  height: 500px;
  border-radius: 100px;
}
.calendar-placeholder {
  height: 280px;
}
.bg-booking-hero {
  background-image: url(../assets/booking-hero.jpg);
  background-size: cover;
  background-position: 50%;
}
.bg-contact-hero {
  background-image: url(../assets/contact-hero.jpg);
  background-size: cover;
  background-position: 50%;
}
.bg-facilities-hero {
  background-image: url(../assets/facilities-hero.jpg);
  background-position: 10%;
}
.bg-photos-hero {
  background-image: url(../assets/photos-hero.jpg);
  background-size: cover;
  background-position: 50%;
}
