---
// ENGLISH
import Layout from '@/layouts/Layout.astro'
import DatePickerWithRange from '@/components/DatePickerWithRange'
import Footer from '@/components/footer'
---

<Layout lang="en">
  <p>booking</p>
  <DatePickerWithRange client:load />
</Layout>
