---
// ENGLISH
import Layout from '@/layouts/Layout.astro'
import DatePickerWithRange from '@/components/DatePickerWithRange'
import BookingIsland from '@/components/Booking-island'
---

<Layout lang="en">
  <section class="w-full bg-booking-hero h-[50vh] flex justify-center items-end">
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
      >
        Booking
      </h1>
      <p class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray">
        <a href="/">Home</a> / Booking
      </p>
    </div>
  </section>
  <section class="w-full flex justify-center items-start pt-30 min-h-[70vh]">
    <BookingIsland client:load />
  </section>
</Layout>
